{% extends "base.html" %}

{% block content %}
    <div class="container ">
        <h1>ALL BLOG POSTS</h1>
        {% for post in blog_posts %}
        <div class="card mt-2">
            <div class="card-body">
                <h4 class="card-title" >{{post.title | safe }}</h4>
                <p class="card-text">{{post.post|truncatechars:400 | safe }}</p>
                <small class="m-0 blockquote-footer"><strong>{{post.author|title}}</strong>,
                {{post.date_created|date:"M d, Y"}}</small>
                <a class="btn btn-warning  btn-sm mt-1 mb-1 float-right" href="{% url 'post' post.id %}" role="button">Read more</a>
            </div>
        </div>
        {% endfor %}
        <div class="pagination mb-5 mt-3">
            <span class="step-links ml-auto">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">back</a>
                {% endif %}
                <span class="current">
                    {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

{% endblock %}